# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

VS
*.suo
*.sln
*.vcproj

Binary
*.exe
*.pdb

*.ncb
*.cd
*.user

.dep.inc
Makefile
Release/
Debug/
nbproject/
